# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/*.db
prisma/*.db-journal

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
